.newcertificate{
    width: 100%;
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
    margin-top: 3em;
}

.bigBoxnew {
    margin-top: 3em;
    width: 400px;
    height: 290px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 12em;
    border-radius: 10px;
    /* box-shadow: 10px 10px #e6eae9; */
    box-shadow: 8px 8px 5px #dadada;
  }
  .leftBoxnew {
    float: left;
    height: 120px;
    width: 400px;
    background: rgb(255, 255, 255);
    /* background-color: blue; */
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(37, 37, 39);
    /* box-shadow: 5px 5px #a4a7a9; */
  }
  .leftBoxnew h3 {
    text-align: center;
    margin-top: 2em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .leftBoxnew h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .rightBoxnew {
    height: 170px;
    width: 400px;
    background: rgb(209, 215, 85);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 5px 5px #a4a7a9; */
  }
  .rightBoxnew .awsicons{
    height: 180px;
    width: 250px;
    font-size: 150px;
    padding: 0px 120px;
    color:rgb(29, 27, 70);
    /* margin-left: 1em; */
  }
  
  .rightBoxnew img {
    height: 180px;
    width: 250px;
    margin-left: 5em;
  }
  
  .rightBox__overlaynew {
    position: relative;
    /* top:0%;
    left:0%; */
    /* width: 100%; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.769);
    color: #ffffff;
    text-align: center;
    display: flex;
    margin-top: -11.2em;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.35s;
    cursor: pointer;
  }
  
  .rightBox__overlaynew > * {
    transform: translateY(95px);
  }
  
  .rightBox__overlaynew:hover {
    opacity: 1;
  }
  
  .rightBox__overlaynew:hover > * {
    transform: translateY(0);
    transition: transform 0.35s;
  }
  
  .rightBox__overlaynew p{
    font-size: 25px;
    font-weight:300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: -3em; */
  }



  .bigBox_2new {
    float: right;
    width: 400px;
    height: 290px;
    margin-top: -18em;
    margin-right: 12em;
    
    border-radius: 5px;
    background-color: aqua;
    /* margin-left: 10em; */
    border-radius: 10px;
    box-shadow: 8px 8px 5px #dadada;
  }
  .leftBox_2new {
    float: right;
    height: 120px;
    width: 400px;
    background: rgb(253, 251, 251);
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(37, 37, 39);
  }
  .leftBox_2new h3 {
    text-align: center;
    margin-top: 2em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .leftBox_2new h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .rightBox_2new {
    height: 170px;
    width: 400px;
    background: rgb(1, 150, 219);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .rightBox_2new .fullstackicons{
    height: 180px;
    width: 250px;
    font-size: 150px;
    padding: 0px 120px;
    color:rgb(255, 255, 255);
    /* margin-left: 1em; */
  }
  
  /* .rightBox_2new img {
    height: 180px;
    width: 250px;
    margin-left: 5em;
  } */
  
  
  .rightBox_2__overlaynew {
    position: relative;
    /* top:0%;
    left:0%; */
    /* width: 100%; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.769);
    color: #ffffff;
    text-align: center;
    display: flex;
    margin-top: -11.2em;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.35s;
    cursor: pointer;
  }
  
  .rightBox_2__overlaynew > * {
    transform: translateY(95px);
  }
  
  .rightBox_2__overlaynew:hover {
    opacity: 1;
  }
  
  .rightBox_2__overlaynew:hover > * {
    transform: translateY(0);
    transition: transform 0.35s;
  }
  
  .rightBox_2__overlaynew p{
    font-size: 25px;
    font-weight:300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: -3em; */
  }