.mainpage {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ////////////////////// */

.headerbox {
  margin-top: 2em;
  /* width: 75em; */
  /* height: 32em; */
  width: 100%;
  min-height: 110vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 800px; */
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  /* margin-left: 2em; */
  /* border-radius: 10px;
    box-shadow: 10px 10px #e6eae9;
    box-shadow: 8px 8px 5px #dadada; */
}
.headerleftBox {
  float: left;
  /* height: 500px;
  width: 530px; */

  min-height: 100vh;
  width: 590px;

  background: rgb(255, 255, 255);
  margin: 0 auto;
  margin-left: 4em;
  margin-top: 3em;

  /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(37, 37, 39); */
  /* box-shadow: 5px 5px #a4a7a9; */
}
.headerleftBox h1 {
  text-align: center;
  margin-top: 1.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4em;
  color: rgb(7, 26, 62);
  text-decoration: solid;
}
.headerleftBox h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  margin-top: -1em;
  margin-left: -10px;
  color: rgb(7, 26, 62);
}

.headerleftBox p {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.4em;
  color: rgb(82, 82, 86);
}

.icons_social {
  float: left;
  margin-left: -5em;
}


.headerleftBox button {
  border: 1px solid rgb(7, 26, 62);
  color: rgb(255, 255, 255);
  background-color: rgb(7, 26, 62);
  padding: 18px 17px;
  /* border-color: #060302; */
  text-align: center;
  /* text-decoration: none;
  display: inline-block; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 7em;
  margin-left: 7em;
  /* position: absolute; */
  border-radius: 5px;
  cursor: pointer;
}

.headerleftBox button:hover,
.headerleftBox button:active {
  background-color: rgb(255, 255, 255);
  color: rgb(7, 26, 62);
  /* border: #060302; */
}





.headerrightBox {
  float: right;
  /* height: 600px;
  width: 400px; */
  min-height: 100vh;
  width: 560px;
  margin: 0 auto;
  margin-top: 1em;
  margin-right: 2em;
  
  background: rgb(255, 255, 255);
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  /* box-shadow: 5px 5px #a4a7a9; */
}

.headerrightBox img {
  margin-top: 2em;
  height: 580px;
  width: 500px;
  /* margin-right: 2em; */
}
